<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>SListar</display-name>
    <servlet-name>SListar</servlet-name>
    <servlet-class>controlador.SListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SListar</servlet-name>
    <url-pattern>/SListar</url-pattern>
  </servlet-mapping>
  <display-name>Aplicacion99</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SNota</display-name>
    <servlet-name>SNota</servlet-name>
    <servlet-class>controlador.SNota</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SNota</servlet-name>
    <url-pattern>/SNota</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SEditar</display-name>
    <servlet-name>SEditar</servlet-name>
    <servlet-class>controlador.SEditar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SEditar</servlet-name>
    <url-pattern>/SEditar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SBorrar</display-name>
    <servlet-name>SBorrar</servlet-name>
    <servlet-class>controlador.SBorrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SBorrar</servlet-name>
    <url-pattern>/SBorrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SEditarenviar</display-name>
    <servlet-name>SEditarenviar</servlet-name>
    <servlet-class>controlador.SEditarenviar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SEditarenviar</servlet-name>
    <url-pattern>/SEditarenviar</url-pattern>
  </servlet-mapping>
</web-app>